
body{
    margin: 0;
    font-family:Poppins;
}
/* .example{
    background-image: url(assets/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.nav{
    display: flex;
    min-height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px black;
}
.bars{
    display: flex;
    justify-content: space-evenly;
    width:50%;
}
.bars a{
    text-decoration: none;
    color: black;
}




/* start of header */
.header{
    background-image: url(assets/background1.jpg);
    width: 95%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
}
.booknow{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    border:2px solid var(--color2);
}
.booknow:hover{
    background-color: black;
    color: white;
}
.text1{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height:600px;
    justify-content:center;
    align-items: center;
}
.span1{
      font-size:40px;
      padding: 20px;
}
.span2{
    font-family: Prata;
    font-size:25px;
    padding-bottom: 25px;
}

.img1 img{
    width: 150px;
    height: 50px;
    padding-left: 50px;
}
/* end of header */



/* start of our mission */
.mission{
    width: 90%;
    margin: auto;
}
.mission div{
    text-align: center;
}
/* end of our mission */



/* start of section */
.image1 img{
    width: 40px;
    height: 40px;
}
.text2{
    color: #cda354;
}
.text3{
    color: #787d7b;
}

.sec2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    
}
.why{
  width: 90%;
  margin: auto;

}
.innersection{
    width: 250px;
    height: 200px;
    padding: 5px;
    border: 2px solid #787d7b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* end of section */



/* start tour section */
.image2 img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.innersection1{
    width: 320px;
    height: 400px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
/*end  tour section */

.pos{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80%;
    left: 95%;
}
#whatsapp{
    width: 50px;
    height: 50px;
}
#phone{
    width: 45px;
    height: 45px;
}

/* .m1{
    background-image: url(assets/back.png);
    background-repeat: no-repeat;
    background-size: cover;
} */



/*start of contact us */

.contact1{
    padding: 10px;
    background-color: #cda354;
    border-radius: 20px;
}
.contact1 a{
    color: white;
    text-decoration: none;
}
.contact1:hover{
    background-color: black;
}
#calls{
    display: flex;
    justify-content: space-evenly;
}
form{
    padding: 20px;
}
label,input,textarea{
    display: block;
}
.input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #cda354;
}
#input{
    border:2px solid #cda354;
    border-radius: 10px;
}
#btn{
    padding: 10px;
    background-color: #cda354;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    width: 100px;
}
#btn:active{
    background-color: black;
    color: white;
}
textarea{
    height: 100px;
}
.hello{
    width: 90%;
    margin: auto;
}
/* end of contaact us */

/* forms start */
.form{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.div1{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review{
   border: 2px solid #cda354;
   border-radius: 20px;
}
/* end of forms */

/* footer */
.footer{
    background-color:#787d7b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* start of footer */
.input1 input{
    padding: 10px;
    width: 200px;
}
.type{
    display: flex;
    justify-content: space-between
    
}
.total{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 130px;
}
.in h4,ins{
    color: white;
    font-size: 14px;
}
.subscribe{
    padding: 10px;
    color: white;
    border: 1px solid white;
    display: inline-block;
}
.out{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
hr{
    opacity: 0.6;
}
.end{
    display: flex;
    justify-content: flex-end;    

}
.end a{
    padding: 15px;
}

/* end of footer */
